.header
    padding-top: 16px
    padding-bottom: 19.5px
    &__logo
        .logo
            width: 50px
            height: 65px
            fill: #333333
    &__phone
        .mumber-phone
            display: block
            text-decoration: none
            font-weight: normal
            font-size: 18px  
    &__nav
        .menu
            display: flex
            list-style-type: none
            padding: 0
            margin: 0
            &__item
                margin-right: 40px
                &:last-child
                    margin-right: 0
            &__link
                position: relative
                font-weight: normal
                font-size: 18px
                &::before
                    content: ''
                    display: block
                    position: absolute 
                    top: -55px
                    width: 100%
                    height: 10px
                    background: #FFDB2D
                    border-radius: 0px 0px 8px 8px
                    transition: all .2s
                &:hover
                    color:#828282
                    &::before
                        top: -38px
    &__btn
        display: flex
        justify-content: flex-end
        align-items: center
        .consultation-btn
            margin-left: 36px
            padding: 12px 20px
            border: 1px solid #333333
            box-sizing: border-box
            border-radius: 8px
            font-weight: normal
            font-size: 15px
            text-align: center
            letter-spacing: 0.02em
            background-color: unset
            transition: all .2s
            &:hover
                background-color:#FFDB2D
                border-color: #FFDB2D
            &:active
                background-color:#FFE568
                border-color: #FFE568
        form
            .search
                width: 77px
                outline: 0
                border: none
                border-bottom: 1px dashed #333333
                transition: all .5s
                &:focus
                    width: 144px
            input::-webkit-input-placeholder
                font-weight: normal
                font-size: 18px
                letter-spacing: 0.02em
                color: #333333   
            input:-moz-placeholder
                font-weight: normal
                font-size: 18px
                letter-spacing: 0.02em
                color: #333333 
.questions
    padding-top: 67px
    .main-page-link
        font-weight: normal
        font-size: 18px
        letter-spacing: 0.02em
    .chat-wrapper
        height: 764px
        padding-top: 157px
        background: #E0E0E0
        border-radius: 8px
        h4
            text-align: center
    &__title
        margin-top: 10px
        font-style: normal
        font-weight: bold
        font-size: 30px
    &__descr
        margin-top: 20px
        margin-bottom: 0
        font-weight: normal
        font-size: 16px
        line-height: 130%
        color: #828282
    .accordion-wrapper
        margin-top: 40px
        &__title
            position: relative
            font-style: normal
            font-weight: 500
            font-size: 24px
            &::before
                content: ''
                display: block
                position: absolute
                width: 181px
                height: 2px
                right: 0px
                top: 62px
                background: #FFDB2D
                border-radius: 8px
        .accordion
            &-item
                margin-bottom: 5px
                background-color: #F4F4F4
                border: none
                border-radius: 8px
                &:last-of-type .accordion-button.collapsed
                    border-radius: 8px
            &-button
                padding: 26px 30px
                background-color: #F4F4F4
                border-radius: 8px
                box-shadow: unset
                font-weight: 500
                font-size: 16px
                color: #333333
                &::after
                    background-image: url(../icons/more-open.svg)
            &-button:not(.collapsed)::after
                transform: rotate(-225deg)
            &-body
                font-weight: normal
                font-size: 16px
                padding-left: 40px
                padding-right: 89px
                padding-bottom: 37px
        .row:not(:first-child)
            margin-top: 70px